.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    background-color: rgb(19, 16, 16);
}


.logo{
    font-size: 1.4rem;
    font-weight: 400;
}

.profile-img{
    background-image: url("https://images.unsplash.com/photo-1525134479668-1bee5c7c6845?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cG9ydHJhaXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size:cover;
}

.profile-container{
    display: flex;
    align-items: center;
}

.user-name{
    padding-left: 1rem;
    font-size: 1.2rem;
}